.card {
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    padding: 0.5rem;
}
.close {
    color: red; 
    font-weight: bold;
    cursor: pointer;
}
.edit {
    color: #25becf;
    font-weight: bold;
    cursor: pointer;
}