<div class="container-fluid user-select-none">
    <div class="mt-2">
    @if (shelves.length == 0) {
        It seems there are no shelves... 
    } @else {
        <table class="table table-hover shelfTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Count</th>
                    <th>Capacity</th>
                    <th>Product</th> 
                </tr>
            </thead>
            <tbody>
                @for (shelf of shelves; track shelf.id) { 
                    <tr [class.table-primary]="shelf.id == selectedShelf?.id" 
                    class="shelfRow"
                    (click)="selectShelf(shelf)">
                        <td>{{shelf.id}}</td> 
                        <td>{{shelf.count}}</td> 
                        <td>{{shelf.capacity}}</td> 
                        <td><img src="{{shelf.image}}" height="40px"/></td> 
                    </tr>
                }
            </tbody>
        </table>
    }
    </div>
    <div class="mt-2">
        <button class="btn btn-primary" (click)="createShelf()">Create Shelf</button> 
        @if (selectedShelf != null) {
            <button class="btn btn-warning ms-2" (click)="editShelf()">Edit Shelf</button> 
            <button class="btn btn-danger ms-2" (click)="deleteShelf()">Delete Shelf</button> 
        }
    </div>
</div>
