<div class="container-fluid">
    <form [formGroup]="createForm" (submit)="submit()">
        <div class="mb-3">
            <label for="txtName" class="form-label">Product Name</label> 
            <input formControlName="name" type="text" class="form-control" id="txtName" placeholder="Product Name"> 
        </div>
        <div class="mb-3">
            <label for="txtMinimum" class="form-label">Minimum</label>
            <input formControlName="minimum" type="text" class="form-control" id="txtMinimum" placeholder="Minimum Count">
        </div>
        
        <div class="row">
            <div class="col">
                <div style="float:left">
                    <div class="dropdown d-flex">
                        Image: 
                        <button class="form-select ms-2 mb-4" type="button" id="productSelectButton" 
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <div>
                                @if (selectedImage == '') {
                                    Select Image
                                } @else {
                                    <img src="{{selectedImage}}" height="20px"/>
                                }
                            </div>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="productSelectButton" id="products"> 
                            @for (product of getProducts(); track product.filename) { 
                                <li>
                                    <a class="dropdown-item" (click)="imageSelect('/assets/img/'+product.filename)"> 
                                        <img src="/assets/img/{{ product.filename }}" height="30px" width="30px" class="img-dropdown"> 
                                        {{ product.name}} 
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div style="float:left">
                    <div id="selected-image" style="align-items: center; display:flex;margin-left:5px"></div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">
            @if (productId == 0) { 
                Add
            } @else {
                Update
            }            
        </button>
        <button type="button" class="btn btn-success ms-3" routerLink="..">Cancel</button>
    </form>
   
</div>
