<div class="container-fluid my-4">
    <form [formGroup]="form" (submit)="submit()">
        <div class="mb-3">
            <label class="form-label">Capacity</label>
            <input formControlName="capacity" type="number" class="form-control" id="txtMinimum" placeholder="Capacity">
        </div>
        <div class="mb-3">
            <label class="form-label">How many will be created</label>
            <input formControlName="count" type="number" class="form-control" id="txtMinimum" placeholder="Count">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <button class="ms-2 btn btn-warning" type="button" (click)="close()">Cancel</button>
    </form>
</div>